<div class="books_container">
  <div style="margin-bottom: 5rem">
    <h3 style="display:inline; color: red;">List Of Books Available</h3>
    <a href="/add-book" target="_blank"><button
        type="button"
        class="btn btn-primary btn-right"
      >
        Add a Book
      </button></a>
  </div>
  <div>
    {{#each booksAvailable}}
      <div>
        <a href="/books/{{this._id}}" target="_blank">{{this.title}}</a>
      </div>
    {{/each}}
  </div>
</div>