.list {
    font-size: 30;
}

.list:hover {
    background-color: rgb(206, 206, 206);
    cursor: pointer;
}

.deleteItem {
    color: 'black';
}

.deleteItem:hover {
    color: rgb(228, 67, 67);
}

.edit {
    color: 'black';
}

.edit:hover {
    color: cornflowerblue;
}